{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Анкета
{% endblock %}

{% block content %}
<div class="survey-page">
    <div class="survey-page__container container container--narrow">
        <h1 class="survey-page__title">Анкетирование</h1>

        <div class="survey-page__welcome">
            <p class="survey-page__welcome-text">
                Приветствуем! Вы перешли на страницу анкетирования нашего сайта.
                Подтвердите, пожалуйста, что согласны на обработку ваших персональных данных.
            </p>
        </div>

        <div class="survey-page__agreement form-field">
            <label class="survey-page__agreement-label">
                <input type="checkbox" class="survey-page__agreement-checkbox" id="agreementCheckbox">
                <span class="survey-page__agreement-text">
                    Я согласен на обработку персональных данных
                </span>
            </label>
        </div>

        {% if has_missing %}
            <div class="survey-page__hint">
                <p class="survey-page__hint-text">
                    📝 Для более точного подбора рекомендуем дополнить информацию в профиле
                </p>
            </div>
        {% endif %}
        <div class="survey-page__actions">
            {% if has_missing %}
                <a href="{% url 'ml_surveys:info_change' %}">
                    <button class="survey-page__btn btn btn-outline survey-page__btn--profile" id="completeProfileBtn" disabled>
                        Дополнить данные профиля
                    </button>
                </a>
            {% endif %}
            <a href="{% url 'ml_surveys:rating' %}">
                <button class="survey-page__btn btn btn-primary" id="startSurveyBtn" disabled>
                    Перейти к анкетированию
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/survey.js' %}"></script>
{% endblock %}